<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/dason/layouts/default/form-uploads.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Nov 2021 11:00:10 GMT -->

<head>

    <meta charset="utf-8" />
    <title>File Upload | Dason - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- dropzone css -->
    <link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />

    <!-- validation cdn -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

<body data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">




        <!-- ========== Left Sidebar Start ========== -->

        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->

                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">First banner</h4>
                                    <div style="display: flex; flex-direction: column;">

                                    </div>

                                </div>
                                <div class="card-body">
                                    <div class="text-center mt-4">
                                        <form onsubmit="return fromSubmit()" action="/admin/addBanner"
                                            enctype="multipart/form-data" method="POST">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label for="productname">Offer head</label>
                                                        <input id="nameValidation" name="offerHead" type="text"
                                                            maxlength="20" class="form-control">
                                                        <div class="invalid-feedback" id="name-Text">enter your Name
                                                        </div>

                                                    </div>
                                                    <!-- <div class="mb-3">
                                                        <label for="manufacturerbrand">Small Head</label>
                                                        <input id="smallhead" name="smallhead"
                                                            type="text" class="form-control">
                                                    </div> -->
                                                    <div class="mb-3">
                                                        <label for="productname">Offer description</label>
                                                        <input id="messageValidation" name="offerDescription"
                                                            type="text" class="form-control">
                                                        <div class="invalid-feedback" id="msg-text">enter your Name
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input" class="form-label">Categorys
                                                        </label>
                                                        <select id="categoryid" name='category'
                                                            class="form-control select2">
                                                            <% for(var i=0; i< categorys.length; i++) {%>
                                                                <option value="<%= categorys[i].category %>">
                                                                    <%= categorys[i].category %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>





                                                </div>

                                                <div class="col-sm-6">

                                                    <div>
                                                        <div class="col-md-2 col-sm-2">

                                                            <div class="fileinput fileinput-new text-center">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img style="width: 300px;" src="../../assets/img/image_placeholder.jpg"
                                                                        id="chekPreview2" alt="">
                                                                    <div class="invalid-feedback" id="image-text">please
                                                                        choose <picture></picture>
                                                                    </div>


                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">

                                                                        <input type="file" id="image2"
                                                                            onchange="show(this)" required />
                                                                        <textarea name="image2_b64" id="imageValue2"
                                                                            cols="30" rows="10" hidden></textarea>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="d-flex flex-wrap gap-2">
                                                <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light">Save
                                                    Changes</button>
                                                <button type="button"
                                                    class="btn btn-secondary waves-effect waves-light">Cancel</button>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Dason.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                <h5 class="m-0 me-2 text-white">Theme Customizer</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="m-0" />

            <div class="p-4">
                <h6 class="mb-3">Layout</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout" id="layout-vertical" value="vertical">
                    <label class="form-check-label" for="layout-vertical">Vertical</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout" id="layout-horizontal"
                        value="horizontal">
                    <label class="form-check-label" for="layout-horizontal">Horizontal</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Mode</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-light"
                        value="light">
                    <label class="form-check-label" for="layout-mode-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-dark" value="dark">
                    <label class="form-check-label" for="layout-mode-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Width</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width" id="layout-width-fuild"
                        value="fuild" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                    <label class="form-check-label" for="layout-width-fuild">Fluid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width" id="layout-width-boxed"
                        value="boxed"
                        onchange="document.body.setAttribute('data-layout-size', 'boxed'),document.body.setAttribute('data-sidebar-size', 'sm')">
                    <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Position</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position" id="layout-position-fixed"
                        value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                    <label class="form-check-label" for="layout-position-fixed">Fixed</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position" id="layout-position-scrollable"
                        value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                    <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Topbar Color</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-light"
                        value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
                    <label class="form-check-label" for="topbar-color-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-dark" value="dark"
                        onchange="document.body.setAttribute('data-topbar', 'dark')">
                    <label class="form-check-label" for="topbar-color-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Size</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-default"
                        value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                    <label class="form-check-label" for="sidebar-size-default">Default</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-compact"
                        value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                    <label class="form-check-label" for="sidebar-size-compact">Compact</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-small"
                        value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                    <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Color</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-light"
                        value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
                    <label class="form-check-label" for="sidebar-color-light">Light</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-dark"
                        value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
                    <label class="form-check-label" for="sidebar-color-dark">Dark</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-brand"
                        value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
                    <label class="form-check-label" for="sidebar-color-brand">Brand</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Direction</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-ltr"
                        value="ltr">
                    <label class="form-check-label" for="layout-direction-ltr">LTR</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-rtl"
                        value="rtl">
                    <label class="form-check-label" for="layout-direction-rtl">RTL</label>
                </div>

            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="assets/libs/pace-js/pace.min.js"></script>

    <!-- dropzone js -->
    <script src="assets/libs/dropzone/min/dropzone.min.js"></script>

    <script src="assets/js/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>
    <!-- Material Dashboard CSS -->


    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- validation cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>

    <script>
        function show(input) {
            debugger;
            var validExtensions = ['jpg', 'png'];
            var fileName = input.files[0].name;
            var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
            if ($.inArray(fileNameExt, validExtensions) == -1) {
                input.type = ''
                input.type = 'file'
                $('#chekPreview2').attr('src', "");
                Swal.fire(
                    '',
                    'Only these file types are accepted  ' + validExtensions.join(', '),
                    'question'
                )
                // alert("Only these file types are accepted : " + validExtensions.join(', '));
            }
            else {
                if (input.files && input.files[0]) {
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        $('#chekPreview2').attr('src', e.target.result);
                    }
                    imagevalidation = true
                    $("#image-text").hide();
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
        }
    </script>

    <script>
        var imagevalidation = false
        var nameValidated = false
        var messageValidated = false
        $("#nameValidation").keyup(function () {
            if ($("#nameValidation").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#name-Text").show();
                $("#name-Text").text(" ");
                nameValidated = true;
            } else {
                $("#name-Text").show();
                $("#name-Text").text("Invalid Offer head! try again");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
            $("#nameValidation").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#nameValidation").val().length < 3) {
                $("#name-Text").show();
                $("#name-Text").text("Offer head should have type morethan 3 characters");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
        });
        $("#nameValidation").blur(function () {
            if ($("#nameValidation").val() == "") {
                $("#name-Text").show();
                $("#name-Text").text("Offer head should not be empty!");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
        });

        $("#messageValidation").keyup(function () {
            if ($("#messageValidation").val().length < 10) {
                $("#msg-text").show();
                $("#msg-text").text("description length must be written morethan 10 characters");
                $("#msg-text").css("class", "invalid-feedback");
                messageValidated = false;
            } else {
                $("#msg-text").show();
                $("#msg-text").text(" ");
                messageValidated = true;
            }
            if ($("#messageValidation").val() == "") {
                $("#msg-text").show();
                $("#msg-text").text("You must leave a description ");
                $("#msg-text").css("class", "invalid-feedback");
                messageValidated = false;
            }
        });

        $('.navbar-collapse a').click(function () {
            $('.navbar-collapse').collapse('hide');
        });
        function fromSubmit() {
            if (nameValidated == false || messageValidated == false || imagevalidation == false) {
                $("#name-Text").show();
                $("#msg-text").show();
                // $("#image-text").show();

                    Swal.fire(
                        '',
                        'please fill the form',
                        'question'
                    )
                    return false
                }

            }
    </script>




    <!-- Button trigger modal -->

    <style>
        .preview {
            overflow: hidden;
            width: 160px;
            height: 160px;
            margin: 10px;
            border: 1px solid red;
        }

        .modal-lg {
            max-width: 1000px !important;
        }
    </style>


    <!-- Modal 1-->

    <!-- Modal  1 end-->



    <!-- Modal 2-->
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="" id="sampleImage2" />
                            </div>
                            <div class="col-md-4">
                                <div class="preview" id="preview2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal  2 end-->


    <!-- Modal 3-->

    <!-- Modal  3 end-->


    <!-- Modal  4 end-->


    <script>
            $('document').ready(function () {
                //modal1 and image 1

                //modal1 and image 1 end

                //modal2 and image 2
                var image2 = document.getElementById('sampleImage2');
                var modal2 = $('#modal2');
                var cropper2;

                $('#image2').change(function (event) {
                    var files = event.target.files;

                    var done = function (url) {
                        image2.src = url;
                        modal2.modal('show');
                    };

                    if (files && files.length > 0) {
                        reader = new FileReader();
                        reader.onload = function (event) {
                            done(reader.result);
                        };
                        reader.readAsDataURL(files[0]);
                    }
                });

                modal2.on('shown.bs.modal', function () {
                    cropper2 = new Cropper(image2, {
                        aspectRatio: 8 / 5,
                        viewMode: 1,
                        preview: '#preview2'
                    });
                }).on('hidden.bs.modal', function () {
                    cropper2.destroy();
                    cropper2 = null;
                });

                $('#crop2').click(function () {
                    canvas = cropper2.getCroppedCanvas({
                        minWidth: 256,
                minHeight: 256,
                maxWidth: 4096,
                maxHeight: 4096,
                fillColor: '#fff',
                imageSmoothingEnabled: true,
                imageSmoothingQuality: 'high',
                        // width: 800,
                        // height: 200
                    });

                    canvas.toBlob(function (blob) {
                        url = URL.createObjectURL(blob);
                        var reader = new FileReader();
                        reader.readAsDataURL(blob);
                        reader.onloadend = function () {
                            var base64data = reader.result;
                            modal2.modal('hide');
                            $("#imageValue2").val(base64data)
                            $('#chekPreview2').attr('src', base64data);
                        };
                    });
                });

            });

    </script>




</body>

<!-- Mirrored from themesbrand.com/dason/layouts/default/form-uploads.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Nov 2021 11:00:10 GMT -->

</html>