
<style>

    /* BASIC */
    
    html {
      background-color: #56baed;
    }
    
    body {
      font-family: "Poppins", sans-serif;
      height: 100vh;
    }
    
    a {
      color: #92badd;
      display:inline-block;
      text-decoration: none;
      font-weight: 400;
    }
    
    h2 {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      display:inline-block;
      margin: 40px 8px 10px 8px; 
      color: #cccccc;
    }
    
    
    
    /* STRUCTURE */
    
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column; 
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px;
    }
    
    #formContent {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      padding: 30px;
      width: 90%;
      max-width: 450px;
      position: relative;
      padding: 0px;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      text-align: center;
    }
    
    #formFooter {
      background-color: #f6f6f6;
      border-top: 1px solid #dce8f1;
      padding: 25px;
      text-align: center;
      -webkit-border-radius: 0 0 10px 10px;
      border-radius: 0 0 10px 10px;
    }
    
    
    
    /* TABS */
    
    h2.inactive {
      color: #cccccc;
    }
    
    h2.active {
      color: #0d0d0d;
      border-bottom: 2px solid #5fbae9;
    }
    
    
    
    /* FORM TYPOGRAPHY*/
    
    input[type=button], input[type=submit], input[type=reset]  {
      background-color: #56baed;
      border: none;
      color: white;
      padding: 15px 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
      background-color: #39ace7;
    }
    
    input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
      -moz-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -o-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
    
    input[type=text] {
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    }
    input[type=password] {
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    }
    #sigin{
      margin-bottom: 20px;

    }
    #login{
      margin-top: 20px;
    }
    
    
    input[type=text]:focus {
      background-color: #fff;
      border-bottom: 2px solid #5fbae9;
    }
    input[type=password]:focus {
      background-color: #fff;
      border-bottom: 2px solid #5fbae9;
    }
    
    input[type=text]:placeholder {
      color: #cccccc;
    }
    input[type=password]:placeholder {
      color: #dbd2d2;
    }
    
    
    
    
    /* ANIMATIONS */
    
    /* Simple CSS3 Fade-in-down Animation */
    .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    @keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    
    /* Simple CSS3 Fade-in Animation */
    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    
    .fadeIn {
      opacity:0;
      -webkit-animation:fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;
    
      -webkit-animation-fill-mode:forwards;
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;
    
      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;
    }
    
    .fadeIn.first {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    
    .fadeIn.second {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    
    .fadeIn.third {
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    
    .fadeIn.fourth {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
    }
    
    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
      display: block;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: #56baed;
      content: "";
      transition: width 0.2s;
    }
    
    .underlineHover:hover {
      color: #0d0d0d;
    }
    
    .underlineHover:hover:after{
      width: 100%;
    }
    .h1Tag{
      margin-bottom: 25px;
        margin-top: 35px;
    }
    
    
    
    /* OTHERS */
    
    *:focus {
        outline: none;
    } 
    
    #icon {
      width:60%;
    }
    
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <!-- <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div> -->
    
        <!-- Login Form -->
    
    
      
    
        <form id="loginForm">
        <h1 class="h1Tag">Admin Login</h1>
          <input type="text" id="login" class="fadeIn second" name="name" placeholder="name"  maxlength="20"/>
          <div class="invalid-feedback" id="name-Text">enter your Name</div>
          
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" maxlength="20"/>
          <div class="invalid-feedback" id="password-Text">password</div>
          <input id="login" type="submit" class="fadeIn fourth" value="login">
         <p style="color: red; padding: 12px;" id="erorrMessage"></p>
        </form>
      </div>
    </div>
   
    <script>
      
      // $('#loginForm').submit((prevent)=>{
      //   prevent.preventDefault()
      //   $.ajax({
      //     url:'/admin/',
      //     data:$('#loginForm').serialize(),
      //     method:'post',
      //     success:(response)=>{
      //       if(response.status){
      //         location.href = '/admin/home';
      //       }else{
      //         document.getElementById('erorrMessage').innerHTML="Your user name Or password not match"
      //       }
            
      //     }
      //   })
      // })
    </script>
    <script>
var nameValidated = false;
var passwordValidated = false;
var emailValidated = false;
var messageValidated = false;

$("#login").keyup(function () {
  if ($("#login").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
    $("#name-Text").show();
    $("#name-Text").text(" ");
    nameValidated = true;
  } else {
    $("#name-Text").show();
    $("#name-Text").text("Invalid name! try again");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
  $("#login").keypress(function (num) {
    if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)  ) {
      num.preventDefault();
    }
  });
  if ($("#login").val().length < 3) {
    $("#name-Text").show();
    $("#name-Text").text("Name should have type morethan 3 characters");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});
$("#login").blur(function () {
  if ($("#login").val() == "") {
    $("#name-Text").show();
    $("#name-Text").text("Name should not be empty!");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});


$("#password").keyup(function () {
  if ($("#password").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
    $("#password-Text").show();
    $("#password-Text").text(" ");
    passwordValidated = true;
  } else {
    $("#password-Text").show();
    $("#password-Text").text("Invalid password! try again");
    $("#password-Text").css("class", "invalid-feedback");
    passwordValidated = false;
  }
  $("#password").keypress(function (num) {
    if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)  ) {
      num.preventDefault();
    }
  });
  if ($("#password").val().length < 3) {
    $("#password-Text").show();
    $("#password-Text").text("password should have type morethan 3 characters");
    $("#password-Text").css("class", "invalid-feedback");
    passwordValidated = false;
  }
});
$("#password").blur(function () {
  if ($("#password").val() == "") {
    $("#password-Text").show();
    $("#password-Text").text("password should not be empty!");
    $("#password-Text").css("class", "invalid-feedback");
    passwordValidated = false;
  }
});


$("#loginForm").submit(function (num) {
  if ($("#login").val() == "" ||  $("#password").val() == "") {
    alert("please fill the form properly");
  }
  if ($("#login").val() == "" &&  $("#password").val() == "" ) {
    num.preventDefault();
    $("#name-Text").show();
    $("#password-Text").show();
  } else if (
    nameValidated &&
    passwordValidated
  ) {
    num.preventDefault();
        $.ajax({
          url:'/admin/',
          data:$('#loginForm').serialize(),
          method:'post',
          success:(response)=>{
            if(response.status){
              location.href = '/admin/home';
            }else{
              document.getElementById('erorrMessage').innerHTML="Your user name Or password not match"
            }
            
          }
        })

  } else {
    num.preventDefault();
  }
});
    </script>
    
