

<div class="ec-nav-toolbar">
    <div class="container">
        <div class="ec-nav-panel">
            <div class="ec-nav-panel-icons">
                <a href="#ec-mobile-menu" class="navbar-toggler-btn ec-header-btn ec-side-toggle"><img
                        src="assets/images/icons/menu.svg" class="svg_img header_svg" alt="" /></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="/cartmanagement" class="ec-header-btn"><img
                        src="assets/images/icons/cart.svg" class="svg_img header_svg" alt="" />
                       </a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="/" class="ec-header-btn"><img src="assets/images/icons/home.svg"
                        class="svg_img header_svg" alt="icon" /></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="/wishlist" class="ec-header-btn"><img src="assets/images/icons/wishlist.svg"
                        class="svg_img header_svg" alt="icon" /></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="login.html" class="ec-header-btn"><img src="assets/images/icons/user.svg"
                        class="svg_img header_svg" alt="icon" /></a>
            </div>

        </div>
    </div>
</div>