<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color: red; background-color: rosybrown;">
        <form id="form" >
            <input type="text" placeholder="number" name="number" id="">
            <input type="text" placeholder="number" name="number" id="otp">
            <p id="ptag"></p>
            <button  type="button" onclick="passotp()" class="btn">button</button>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


      
// var x = document.getElementById("otp");
//             x.style.display = 'none'

        function passotp(){
            
            var form = $('#form').serialize()
            console.log(form);
            $.ajax({
                url:'/otps',
                data:form,
                method:"post",
                success:(response)=>{
                    if(response.status){
                        var x = document.getElementById("otp");
            x.style.display = 'block'
                       

                    }else{
                        $('#ptag').html()
                        $('#ptag').html('sorry')
                    }
                    
                }
            })
        }
    </script>
</body>
</html>

