<!--========================================================= 
    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 2.0
    Copyright 2021-2022
	Author URI: https://themeforest.net/user/ashishmaraviya
 ============================================================-->
 <!DOCTYPE html>
 <html lang="en">
 
 
<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v2/ekka-html/elemets-products.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 19:19:06 GMT -->
<head>
	 <meta charset="UTF-8">
	 <meta http-equiv="x-ua-compatible" content="ie=edge" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	 
	 <title>Ekka - Ecommerce HTML Template.</title>
	 <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
	 <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
	 <meta name="author" content="ashishmaraviya">
	 
	<!-- site Favicon -->
	<link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
	<link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
	<meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />

	<!-- css Icon Font -->
	<link rel="stylesheet" href="assets/css/vendor/ecicons.min.css" />

	<!-- css All Plugins Files -->
	<link rel="stylesheet" href="assets/css/plugins/animate.css" />
	<link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
	<link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
	<link rel="stylesheet" href="assets/css/plugins/countdownTimer.css" />
	<link rel="stylesheet" href="assets/css/plugins/slick.min.css" />
	<link rel="stylesheet" href="assets/css/plugins/nouislider.css" />
	<link rel="stylesheet" href="assets/css/plugins/bootstrap.css" />

	<!-- Main Style -->
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel="stylesheet" href="assets/css/responsive.css" />

	<!-- Background css -->
	<link rel="stylesheet" id="bg-switcher-css" href="assets/css/backgrounds/bg-4.css">
    
	<!-- validation cdn -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<div id="ec-overlay"><span class="loader_img"></span></div>

	<!-- Header start  -->
	<section >
      
		<div class="text-center ">
		  <h1 class="mt-3" style="padding-top: 5em;" id="contact">contact me</h1>
		  <div class="container-fluid">
			<div>
			  <form id="submit-form"  action="">
				<div class="row">
				  <div class="col-12 p-2 ">
					<input  class="form-control border-0 shadow-sm "  name="Name" id="nameValidation" placeholder="Your Name" type="text" maxlength="20"/>
					<div class="invalid-feedback" id="name-Text">enter your Name</div>
				  </div>
	
				  
	
				  <div class="col-12 p-2">
					<input id="numberValidation" type="tel"  name="Phone Number" placeholder="Enter your phone number" class="form-control border-0 shadow-sm"  maxlength="10" />
					<div class="invalid-feedback" id="text-Number">Enter your phone number </div>
				  </div>
	
				  <div class="col-12 p-2">
					<input id="mailValidation" type="text"  placeholder="Enter your email" class="form-control fs-6 border-0 shadow-sm" name="Email Address" />
					<div class="invalid-feedback" id="mail-type"> Enter email address </div>
				  </div>
	
				  <div class="col-12 p-2">
					<textarea id="messageValidation" placeholder="Your Message" rows="5" class="form-control form-control-lg fs-6 border-0 shadow-sm" name="Message"  ></textarea>
					<div class="invalid-feedback" id="msg-text">Text a message</div>
				  </div>
	
				  <div class="col-12 p-2">
					<button type="submit" class="btn btn-primary px-4 fs-6"> Submit</button>
				  </div>
				</div>
			  </form>
			  </div>
			</div>
		  </div>
		</div>
		</section>
    <!-- Header End  -->

    <!-- ekka Cart Start -->
    <div class="ec-side-cart-overlay"></div>
    <div id="ec-side-cart" class="ec-side-cart">
        <div class="ec-cart-inner">
            <div class="ec-cart-top">
                <div class="ec-cart-title">
                    <span class="cart_title">My Cart</span>
                    <button class="ec-close">×</button>
                </div>
                <ul class="eccart-pro-items">
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/6_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                            <span class="cart-price"><span>$76.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/12_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Women Leather Shoes</a>
                            <span class="cart-price"><span>$64.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/3_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Girls Nylon Purse</a>
                            <span class="cart-price"><span>$59.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ec-cart-bottom">
                <div class="cart-sub-total">
                    <table class="table cart-table">
                        <tbody>
                            <tr>
                                <td class="text-left">Sub-Total :</td>
                                <td class="text-right">$300.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">VAT (20%) :</td>
                                <td class="text-right">$60.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right primary-color">$360.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_btn">
                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                    <a href="checkout.html" class="btn btn-secondary">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ekka Cart End -->

	<!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Products</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">Products</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Ec breadcrumb end -->

	<!-- START Product Default Style -->
	<section class="sec-ds el-prod section-space-p">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2 class="ec-bg-title">Style 1</h2>
						<h2 class="ec-title">Style 1</h2>
						<p class="sub-title">Browse The Collection of Top Categories</p>
					</div>
				</div>
			</div>


			
			
		</div>
	</section>
	<!--/END Product Default Style -->

	<!-- START Product Default Style -->
	<!-- <section class="sec-csc el-prod section-space-p">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2 class="ec-bg-title">Style 2</h2>
						<h2 class="ec-title">Style 2</h2>
						<p class="sub-title">Browse The Collection of Top Categories</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					
					<div class="ec-product-csc">
						<div class="ec-product-image">
							<a href="#">
								<img src="assets/images/product-image/9_4.jpg" class="img-center" alt="">
							</a>
							<span class="ec-product-ribbon">New</span>
						</div>
						<div class="ec-product-body">
							<h3 class="ec-title"><a href="#">Clothes</a></h3>
							<p class="ec-description">
								Drew House Hoodie for Men/Women
							</p>
							<ul class="ec-rating">
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star"></li>
							</ul>
							<div class="ec-price"><span>$56.00</span> $39.00</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-icon">
									<a href="#" data-tip="Add to Wishlist"><img src="assets/images/icons/wishlist.svg"
											class="svg_img header_svg pro_svg" alt="wishlist" /></a>
									<a href="#" data-tip="Compare"><img src="assets/images/icons/compare.svg"
											class="svg_img pro_svg" alt="compare" /></a>
									<a href="#" data-tip="Quick View"><img src="assets/images/icons/quickview.svg"
											class="svg_img pro_svg" alt="quick view" /></a>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-btn">
									<a class=" ec-add-to-cart" href="#">add to cart</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					
					<div class="ec-product-csc">
						<div class="ec-product-image">
							<a href="#">
								<img src="assets/images/product-image/8_4.jpg" class="img-center" alt="">
							</a>
							<span class="ec-product-ribbon">New</span>
						</div>
						<div class="ec-product-body">
							<h3 class="ec-title"><a href="#">Electronics</a></h3>
							<p class="ec-description">
								I Smart watch 32GB core.
							</p>
							<ul class="ec-rating">
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star"></li>
							</ul>
							<div class="ec-price"><span>$599.00</span> $444.00</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-icon">
									<a href="#" data-tip="Add to Wishlist"><img src="assets/images/icons/wishlist.svg"
											class="svg_img header_svg pro_svg" alt="wishlist" /></a>
									<a href="#" data-tip="Compare"><img src="assets/images/icons/compare.svg"
											class="svg_img pro_svg" alt="compare" /></a>
									<a href="#" data-tip="Quick View"><img src="assets/images/icons/quickview.svg"
											class="svg_img pro_svg" alt="quick view" /></a>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-btn">
									<a class=" ec-add-to-cart" href="#">add to cart</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					
					<div class="ec-product-csc">
						<div class="ec-product-image">
							<a href="#">
								<img src="assets/images/product-image/11_4.jpg" class="img-center" alt="">
							</a>
							<span class="ec-product-ribbon">New</span>
						</div>
						<div class="ec-product-body">
							<h3 class="ec-title"><a href="#">Accessories</a></h3>
							<p class="ec-description">
								Nile leather purse for womens.
							</p>
							<ul class="ec-rating">
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star"></li>
							</ul>
							<div class="ec-price"><span>$90.00</span> $66.00</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-icon">
									<a href="#" data-tip="Add to Wishlist"><img src="assets/images/icons/wishlist.svg"
											class="svg_img header_svg pro_svg" alt="wishlist" /></a>
									<a href="#" data-tip="Compare"><img src="assets/images/icons/compare.svg"
											class="svg_img pro_svg" alt="compare" /></a>
									<a href="#" data-tip="Quick View"><img src="assets/images/icons/quickview.svg"
											class="svg_img pro_svg" alt="quick view" /></a>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 ec-link-btn">
									<a class=" ec-add-to-cart" href="#">add to cart</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section> -->
	<!--/END Product Default Style -->

	<!-- START Product Full Width Style -->
	
	<!--/END Product Default Style -->

	<!-- START Product Transparent Style -->
	
	<!--/END Product Default Style -->

	<!-- START Product Left Side Content Style -->
	
	<!--/END Product Left Side Content Style -->

	<!-- START Product Swip Down Style -->
	
	<!--/END Product Swip Down Style -->

	<!-- START Product Curve Border Bottom Style -->
	
	<!--/END Product Swip Down Style -->

	<!-- START Product Swip Up Style -->
	
	<!--/END Product Swip Up Style -->

	<!-- START Product Swip Button Style -->
	
	<!--/END Product Swip Up Style -->

	<!-- START Product Swip Button Style -->
	
	<!--/END Product Swip Up Style -->

	<!-- Footer Start -->
	<footer class="ec-footer section-space-mt">
		<div class="footer-container">
			<div class="footer-offer">
				<div class="container">
					<div class="row">
						<div class="text-center footer-off-msg">
							<span>Win a contest! Get this limited-editon</span><a href="#" target="_blank">View
								Detail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-top section-space-footer-p">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-lg-3 ec-footer-contact">
							<div class="ec-footer-widget">
								<div class="ec-footer-logo"><a href="#"><img src="assets/images/logo/footer-logo.png"
											alt=""><img class="dark-footer-logo" src="assets/images/logo/dark-logo.png"
											alt="Site Logo" style="display: none;" /></a></div>
								<h4 class="ec-footer-heading">Contact us</h4>
								<div class="ec-footer-links">
									<ul class="align-items-center">
										<li class="ec-footer-link">71 Pilgrim Avenue Chevy Chase, east california.</li>
										<li class="ec-footer-link"><span>Call Us:</span><a href="tel:+440123456789">+44
												0123 456 789</a></li>
										<li class="ec-footer-link"><span>Email:</span><a href="https://loopinfosol.in/cdn-cgi/l/email-protection#bcd9c4ddd1ccd0d9fcd9df91d9d1ddd5d092dfd3d1"><span class="__cf_email__" data-cfemail="b19ad4c9d0dcc1ddd4f1d4d29cd4dcd0d8dd9fd2dedc">[email&#160;protected]</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-2 ec-footer-info">
							<div class="ec-footer-widget">
								<h4 class="ec-footer-heading">Information</h4>
								<div class="ec-footer-links">
									<ul class="align-items-center">
										<li class="ec-footer-link"><a href="about-us.html">About us</a></li>
										<li class="ec-footer-link"><a href="faq.html">FAQ</a></li>
										<li class="ec-footer-link"><a href="#">Delivery Information</a></li>
										<li class="ec-footer-link"><a href="contact-us.html">Contact us</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-2 ec-footer-account">
							<div class="ec-footer-widget">
								<h4 class="ec-footer-heading">Account</h4>
								<div class="ec-footer-links">
									<ul class="align-items-center">
										<li class="ec-footer-link"><a href="#">My Account</a></li>
										<li class="ec-footer-link"><a href="track-order.html">Order History</a></li>
										<li class="ec-footer-link"><a href="#">Wish List</a></li>
										<li class="ec-footer-link"><a href="#">Specials</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-2 ec-footer-service">
							<div class="ec-footer-widget">
								<h4 class="ec-footer-heading">Services</h4>
								<div class="ec-footer-links">
									<ul class="align-items-center">
										<li class="ec-footer-link"><a href="#">Discount Returns</a></li>
										<li class="ec-footer-link"><a href="#">Policy & policy </a></li>
										<li class="ec-footer-link"><a href="#">Customer Service</a></li>
										<li class="ec-footer-link"><a href="terms-condition.html">Term & condition</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-3 ec-footer-news">
							<div class="ec-footer-widget">
								<h4 class="ec-footer-heading">Newsletter</h4>
								<div class="ec-footer-links">
									<ul class="align-items-center">
										<li class="ec-footer-link">Get instant updates about our new products and
											special promos!</li>
									</ul>
									<div class="ec-subscribe-form">
										<form id="ec-newsletter-form" name="ec-newsletter-form" method="post"
											action="#">
											<div id="ec_news_signup" class="ec-form">
												<input class="ec-email" type="email" required=""
													placeholder="Enter your email here..." name="ec-email" value="" />
												<button id="ec-news-btn" class="button btn-primary" type="submit"
													name="subscribe" value=""><i class="ecicon eci-paper-plane-o"
														aria-hidden="true"></i></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row align-items-center">
						<!-- Footer social Start -->
						<div class="col text-left footer-bottom-left">
							<div class="footer-bottom-social">
								<span class="social-text text-upper">Follow us on:</span>
								<ul class="mb-0">
									<li class="list-inline-item"><a class="hdr-facebook" href="#"><i class="ecicon eci-facebook"></i></a></li>
                                    <li class="list-inline-item"><a class="hdr-twitter" href="#"><i class="ecicon eci-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="hdr-instagram" href="#"><i class="ecicon eci-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="hdr-linkedin" href="#"><i class="ecicon eci-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- Footer social End -->
						<!-- Footer Copyright Start -->
						<div class="col text-center footer-copy">
							<div class="footer-bottom-copy ">
								<div class="ec-copy">Copyright © 2021-2022 <a class="site-name text-upper"
										href="#">ekka<span>.</span></a>. All Rights Reserved</div>
							</div>
						</div>
						<!-- Footer Copyright End -->
						<!-- Footer payment -->
						<div class="col footer-bottom-right">
							<div class="footer-bottom-payment d-flex justify-content-end">
								<div class="payment-link">
									<img src="assets/images/icons/payment.png" alt="">
								</div>

							</div>
						</div>
						<!-- Footer payment -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Area End -->


	<!-- Footer navigation panel for responsive display -->
	<div class="ec-nav-toolbar">
		<div class="container">
			<div class="ec-nav-panel">
				<div class="ec-nav-panel-icons">
					<a href="#ec-mobile-menu" class="navbar-toggler-btn ec-header-btn ec-side-toggle"><img
							src="assets/images/icons/menu.svg" class="svg_img header_svg" alt="" /></a>
				</div>
				<div class="ec-nav-panel-icons">
					<a href="#ec-side-cart" class="toggle-cart ec-header-btn ec-side-toggle"><img
							src="assets/images/icons/cart.svg" class="svg_img header_svg" alt="" /><span
							class="ec-cart-noti ec-header-count cart-count-lable">3</span></a>
				</div>
				<div class="ec-nav-panel-icons">
					<a href="index.html" class="ec-header-btn"><img src="assets/images/icons/home.svg"
							class="svg_img header_svg" alt="icon" /></a>
				</div>
				<div class="ec-nav-panel-icons">
					<a href="wishlist.html" class="ec-header-btn"><img src="assets/images/icons/wishlist.svg"
							class="svg_img header_svg" alt="icon" /><span class="ec-cart-noti">4</span></a>
				</div>
				<div class="ec-nav-panel-icons">
					<a href="login.html" class="ec-header-btn"><img src="assets/images/icons/user.svg"
							class="svg_img header_svg" alt="icon" /></a>
				</div>

			</div>
		</div>
	</div>
	<!-- Footer navigation panel for responsive display end -->

    <!-- Recent Purchase Popup  -->
    <div class="recent-purchase">
        <img src="assets/images/product-image/1.jpg" alt="payment image">
        <div class="detail">
            <p>Someone in new just bought</p>
            <h6>stylish baby shoes</h6>
            <p>10 Minutes ago</p>
        </div>
        <a href="javascript:void(0)" class="icon-btn recent-close">×</a>
    </div>
    <!-- Recent Purchase Popup end -->

	<!-- Cart Floating Button -->
	<div class="ec-cart-float">
		<a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
			<div class="header-icon"><img src="assets/images/icons/cart.svg" class="svg_img header_svg" alt="" /></div>
			<span class="ec-cart-count cart-count-lable">3</span>
		</a>
	</div>
	<!-- Cart Floating Button end -->

	<!-- Whatsapp -->
	<div class="ec-style ec-right-bottom">
		<!-- Start Floating Panel Container -->
		<div class="ec-panel">
			<!-- Panel Header -->
			<div class="ec-header">
				<strong>Need Help?</strong>
				<p>Chat with us on WhatsApp</p>
			</div>
			<!-- Panel Content -->
			<div class="ec-body">
				<ul>
					<!-- Start Single Contact List -->
					<li>
						<a class="ec-list" data-number="918866774266"
							data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
							<div class="d-flex bd-highlight">
								<!-- Profile Picture -->
								<div class="ec-img-cont">
									<img src="assets/images/whatsapp/profile_01.jpg" class="ec-user-img"
										alt="Profile image">
									<span class="ec-status-icon"></span>
								</div>
								<!-- Display Name & Last Seen -->
								<div class="ec-user-info">
									<span>Sahar Darya</span>
									<p>Sahar left 7 mins ago</p>
								</div>
								<!-- Chat iCon -->
								<div class="ec-chat-icon">
									<i class="fa fa-whatsapp"></i>
								</div>
							</div>
						</a>
					</li>
					<!--/ End Single Contact List -->
					<!-- Start Single Contact List -->
					<li>
						<a class="ec-list" data-number="918866774266"
							data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
							<div class="d-flex bd-highlight">
								<!-- Profile Picture -->
								<div class="ec-img-cont">
									<img src="assets/images/whatsapp/profile_02.jpg" class="ec-user-img"
										alt="Profile image">
									<span class="ec-status-icon ec-online"></span>
								</div>
								<!-- Display Name & Last Seen -->
								<div class="ec-user-info">
									<span>Yolduz Rafi</span>
									<p>Yolduz is online</p>
								</div>
								<!-- Chat iCon -->
								<div class="ec-chat-icon">
									<i class="fa fa-whatsapp"></i>
								</div>
							</div>
						</a>
					</li>
					<!--/ End Single Contact List -->
					<!-- Start Single Contact List -->
					<li>
						<a class="ec-list" data-number="918866774266"
							data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
							<div class="d-flex bd-highlight">
								<!-- Profile Picture -->
								<div class="ec-img-cont">
									<img src="assets/images/whatsapp/profile_03.jpg" class="ec-user-img"
										alt="Profile image">
									<span class="ec-status-icon ec-offline"></span>
								</div>
								<!-- Display Name & Last Seen -->
								<div class="ec-user-info">
									<span>Nargis Hawa</span>
									<p>Nargis left 30 mins ago</p>
								</div>
								<!-- Chat iCon -->
								<div class="ec-chat-icon">
									<i class="fa fa-whatsapp"></i>
								</div>
							</div>
						</a>
					</li>
					<!--/ End Single Contact List -->
					<!-- Start Single Contact List -->
					<li>
						<a class="ec-list" data-number="918866774266"
							data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
							<div class="d-flex bd-highlight">
								<!-- Profile Picture -->
								<div class="ec-img-cont">
									<img src="assets/images/whatsapp/profile_04.jpg" class="ec-user-img"
										alt="Profile image">
									<span class="ec-status-icon ec-offline"></span>
								</div>
								<!-- Display Name & Last Seen -->
								<div class="ec-user-info">
									<span>Khadija Mehr</span>
									<p>Khadija left 50 mins ago</p>
								</div>
								<!-- Chat iCon -->
								<div class="ec-chat-icon">
									<i class="fa fa-whatsapp"></i>
								</div>
							</div>
						</a>
					</li>
					<!--/ End Single Contact List -->
				</ul>
			</div>
		</div>
		<!--/ End Floating Panel Container -->
		<!-- Start Right Floating Button-->
		<div class="ec-right-bottom">
			<div class="ec-box">
				<div class="ec-button rotateBackward">
					<img class="whatsapp" src="assets/images/common/whatsapp.png" alt="whatsapp icon" />
				</div>
			</div>
		</div>
		<!--/ End Right Floating Button-->
	</div>
	<!-- Whatsapp end -->

	<!-- Feature tools -->
	<div class="ec-tools-sidebar-overlay"></div>
	<div class="ec-tools-sidebar">
		<div class="tool-title">
			<h3>Features</h3>
		</div>
		<a href="#" class="ec-tools-sidebar-toggle in-out">
			<img alt="icon" src="assets/images/common/settings.png" />
		</a>
		<div class="ec-tools-detail">
			<div class="ec-tools-sidebar-content ec-change-color ec-color-desc">
				<h3>Color Scheme</h3>
				<ul class="bg-panel">
                    <li class="active" data-color="01"><a href="#" class="colorcode1"></a></li>
                    <li data-color="02"><a href="#" class="colorcode2"></a></li>
                    <li data-color="03"><a href="#" class="colorcode3"></a></li>
                    <li data-color="04"><a href="#" class="colorcode4"></a></li>
                    <li data-color="05"><a href="#" class="colorcode5"></a></li>
                </ul>
			</div>
			<div class="ec-tools-sidebar-content">
				<h3>Backgroung</h3>
				<ul class="bg-panel">
					<li class="bg"><a class="back-bg-1" id="bg-1">Background-1</a></li>
					<li class="bg"><a class="back-bg-2" id="bg-2">Background-2</a></li>
					<li class="bg"><a class="back-bg-3" id="bg-3">Background-3</a></li>
					<li class="bg"><a class="back-bg-4" id="bg-4">Default</a></li>
				</ul>
			</div>
			<div class="ec-tools-sidebar-content">
                <h3>Full Screen mode</h3>
                <div class="ec-fullscreen-mode">
                    <div class="ec-fullscreen-switch">
                        <div class="ec-fullscreen-btn">Mode</div>
                        <div class="ec-fullscreen-on">On</div>
                        <div class="ec-fullscreen-off">Off</div>	
					</div>
				</div>
			</div>
			<div class="ec-tools-sidebar-content">
				<h3>Dark mode</h3>
				<div class="ec-change-mode">
					<div class="ec-mode-switch">
						<div class="ec-mode-btn">Mode</div>
						<div class="ec-mode-on">On</div>
						<div class="ec-mode-off">Off</div>
					</div>
				</div>
			</div>
			<div class="ec-tools-sidebar-content">
				<h3>RTL mode</h3>
				<div class="ec-change-rtl">
					<div class="ec-rtl-switch">
						<div class="ec-rtl-btn">Rtl</div>
						<div class="ec-rtl-on">On</div>
						<div class="ec-rtl-off">Off</div>
					</div>
				</div>
			</div>
			<div class="ec-tools-sidebar-content">
				<h3>Language (Google)</h3>
				<div class="ec-change-lang">
					<span id="google_translate_element"></span>
				</div>
			</div>
			<div class="ec-tools-sidebar-content">
				<h3>Clear local storage</h3>
				<a class="clear-cach" href="javascript:void(0)">Clear Cache & Default</a>
			</div>
		</div>
	</div>
	<!-- Feature tools end -->

	<!-- Vendor JS -->
	<script data-cfasync="false" src="https://loopinfosol.in/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>
	<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
	<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>

	<!--Plugins JS-->
	<script src="assets/js/plugins/swiper-bundle.min.js"></script>
	<script src="assets/js/plugins/countdownTimer.min.js"></script>
	<script src="assets/js/plugins/scrollup.js"></script>
	<script src="assets/js/plugins/jquery.zoom.min.js"></script>
	<script src="assets/js/plugins/slick.min.js"></script>
	<script src="assets/js/plugins/infiniteslidev2.js"></script>
	<script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
	
	<!-- Main Js -->
	<script src="assets/js/vendor/index.js"></script>
	<script src="assets/js/main.js"></script>
	<!-- validation cdn -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>

	<script>
		var nameValidated = false;
var phoneValidated = false;
var emailValidated = false;
var messageValidated = false;


$("#nameValidation").keyup(function () {
  if ($("#nameValidation").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
    $("#name-Text").show();
    $("#name-Text").text(" ");
    nameValidated = true;
  } else {
    $("#name-Text").show();
    $("#name-Text").text("Invalid name! try again");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
  $("#nameValidation").keypress(function (num) {
    if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)  ) {
      num.preventDefault();
    }
  });
  if ($("#nameValidation").val().length < 3) {
    $("#name-Text").show();
    $("#name-Text").text("Name should have type morethan 3 characters");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});
$("#nameValidation").blur(function () {
  if ($("#nameValidation").val() == "") {
    $("#name-Text").show();
    $("#name-Text").text("Name should not be empty!");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});


$("#numberValidation").keypress(function (num) {
  return num.charCode >= 48 && num.charCode <= 57;
});
$("#numberValidation").keyup(function () {
  if ($("#numberValidation").val().match(/^\d+$/)) {
    $("#text-Number").show();
    $("#text-Number").text(" ");
    phoneValidated = true;
  }
  if ($("#numberValidation").val().length < 10) {
    $("#text-Number").show();
    $("#text-Number").text("Phone number should be 10 digits!");
    $("#text-Number").css("class", "invalid-feedback");
    phoneValidated = false;
  }
});

$("#numberValidation").blur(function () {
  if ($("#numberValidation").val() == "") {
    $("#text-Number").show();
    $("#text-Number").text("Phone number is required!");
    $("#text-Number").css("class", "invalid-feedback");
    phoneValidated = false;
  }
});

$("#mailValidation").keyup(function () {
  if ($("#mailValidation").val().match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
    $("#mail-type").text(" ");
    $("#mail-type").show();
    emailValidated = true;
  } else {
    $("#mail-type").show();
    $("#mail-type").text("Invalid email address");
    $("#mail-type").css("class", "invalid-feedback");
    emailValidated = false;
  }
});
$("#mailValidation").blur(function () {
  if ($("#mailValidation").val() == "") {
    $("#mail-type").show();
    $("#mail-type").text("Must enter email");
    $("#mail-type").css("class", "invalid-feedback");
    emailValidated = false;
  }
});


$("#messageValidation").keyup(function () {
  if ($("#messageValidation").val().length < 20) {
    $("#msg-text").show();
    $("#msg-text").text("Message length must be written morethan 20 characters");
    $("#msg-text").css("class", "invalid-feedback");
    messageValidated = false;
  } else {
    $("#msg-text").show();
    $("#msg-text").text(" ");
    messageValidated = true;
  }
  if ($("#messageValidation").val() == "") {
    $("#msg-text").show();
    $("#msg-text").text("You must leave a message ");
    $("#msg-text").css("class", "invalid-feedback");
    messageValidated = false;
  }
});

$('.navbar-collapse a').click(function () {
  $('.navbar-collapse').collapse('hide');
});




$("#submit-form").submit(function (num) {
  if ($("#nameValidation").val() == "" ||  $("#numberValidation").val() == "" || $("#mailValidation").val() == "" || $("#messageValidation").val() == "" ) {
    alert("please fill the form properly");
  }
  if ($("#nameValidation").val() == "" &&  $("#numberValidation").val() == "" && $("#mailValidation").val() == "" && $("#messageValidation").val() == "" ) {
    num.preventDefault();
    $("#name-Text").show();
    $("#text-Number").show();
    $("#mail-type").show();
    $("#msg-text").show();
  } else if (
    nameValidated &&
    phoneValidated &&
    emailValidated &&
    messageValidated
  ) {
    num.preventDefault();
    $.ajax({
      url: "https://script.google.com/macros/s/AKfycbzTkL5i1GncmbTaxtSH7neJUABFhp0WyIxLesoi5EmXWQspp9p1/exec",
      data: $("#submit-form").serialize(),
      method: "post",
      success: function (response) {
        alert("Form submitted successfully");
        window.location.reload();
      },
      error: function (err) {
        alert("Something Error");
      },
    });
  } else {
    num.preventDefault();
  }
});

	</script>
</body>

<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v2/ekka-html/elemets-products.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 19:19:07 GMT -->
</html>